* {
  padding: 0%;
  margin: 0%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h1, h3, p {
  text-shadow: 4px 3px black;
}

p {
  font-size: 21px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 5px 5px black;
}

#first-section {
  padding-top: 90px;
}

#card {
  margin: 50px;
}

#info {
  margin-top: 165px;
}

#imgone {
  border-radius: 0%;
}








